@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 1rem;
  }
}

html {
  font-family: 'Raleway', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  line-height: 1.4;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-brand {
  width: 120rem;
}

.header {
  height: 80vh;
  background-image: url(../../Public/Images/homepage.jpg);
  background-position: 0 80%;
  background-size: cover;
  position: relative;
}

.header__box {
  position: absolute;
  top: 36%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.header__text--main {
  font-size: 3rem;
  font-weight: 400;
}

.header__text--sub {
  font-size: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: lightgrey;
  padding: 0.5rem;
  text-transform: lowercase;
  transition: all .3s;
}

.btn--block {
  display: block;
  width: 100%;
  cursor: pointer;
}

.btn--block:hover {
  background-color: rgba(255, 165, 0, 0.486);
  color: #818080;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
  .cards__item--3 {
    margin: 0 auto;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--fence {
  background-image: url(../../Public/Images/patio.jpg);
}

.card__image--river {
  background-image: url(../../Public/Images/yard.jpg);
}

.card__image--record {
  background-image: url(../../Public/Images/coast.jpg);
}

.card__title {
  color: darkgrey;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333333;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .9rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #ffa500;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: white;
  padding: .9rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 3px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: .8rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav {
    justify-content: space-between;
  }
  .topnav a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    z-index: 1000;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.about {
  position: relative;
  margin-top: -3rem;
}

.about__textbox--mission {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  padding-top: 3rem;
}

.about__textbox--h2 {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
}

.about__textbox--about {
  text-align: center;
  margin: 1rem;
  position: relative;
}

.cards {
  position: relative;
}

.about:before {
  content: "";
  background-image: url(../../Public/Images/about-beach.jpg);
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.contact {
  padding-top: 1rem;
  position: relative;
  text-align: center;
}

.contact__textbox {
  font-size: calc(1em + 2vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.contact__text {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.7vw;
  font-weight: 300;
  max-width: 560px;
}

.contact__phone {
  padding: 1rem;
}

.contact__link {
  display: block;
  color: orange;
  text-decoration: none;
  border-bottom: 2px solid orange;
}

.contact__image {
  opacity: .3;
  width: 100%;
}

.links {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  width: 100%;
  color: orange;
}

@media (min-width: 941px) {
  .links {
    font-size: 5vw;
  }
  .links .links__icon {
    padding: 0 5rem;
  }
}

.links__icon {
  list-style: none;
  display: inline;
  padding: 1.5rem;
}
/*# sourceMappingURL=main.css.map */