.about {
    position: relative;
    margin-top: -3rem;
    &__textbox {
        
        &--mission {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            position: relative;
            padding-top: 3rem;

        }

        &--h2 {
            font-size: 2rem;
            font-weight: 300;
            position: relative;

        }

        &--about {
            text-align: center;
           margin: 1rem;
           position: relative;


        }
        
    }

    
}

.cards {
    position: relative;
}

.about:before {
    content: "";
      background-image: url(../../Public/Images/about-beach.jpg);
      background-size: cover;
      background-position: top;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}













