.contact {
    padding-top: 1rem;
    position: relative;

    
    text-align: center;
    
    &__textbox {
        font-size: calc(1em + 2vw);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    &__text {
       position: absolute;
       top: 20%;
       left: 50%;
       transform: translate(-50%, -50%);
       font-size: 5vw;
       font-weight: 300;
    }

    &__phone {
       padding: 1rem; 
    }

    &__link {
        display: block;
        color: rgb(255, 165, 0);
        text-decoration: none;
        border-bottom: 2px solid rgb(255, 165, 0);
        
    }

    &__image {
        opacity: .3;
        width: 100%;
    }
    


}

.links {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    width: 100%;
    color: rgb(255, 165, 0);

    @media(min-width: 941px) {
        font-size: 5vw;
        .links__icon {
            padding: 0 5rem;
        }
    }

    &__icon {
        list-style: none;
        display: inline;
        padding: 1.5rem;

    }
}